.eot_message {
  font-size: var(--fs-four);
  font-weight: var(--fw-tri);
  text-align: center;
}

.eor_message {
  font-size: var(--fs-four);
  font-weight: var(--fw-tri);
  text-align: center;
}

.eor_message > span {
  text-transform: lowercase;
}
