.header {
  padding: 1em;
  margin-top: 2em;

  border-radius: var(--border-radius-prmy);
  background-color: var(--col-background-sec);
  box-shadow: var(--box-shadow);
}

.header_title {
  text-align: center;
  font-size: var(--fs-prmy);

  font-weight: var(--fw-tri);

  cursor: default;
  user-select: none;
}

.start_game {
  max-width: 400px;
  margin: 2em auto;

  display: flex;
  flex-direction: column;
  gap: 2em;
}

.startBtn {
  width: 90%;
  align-self: center;
}
