.mainWrapper {
  border: 1px solid black;

  border-radius: 75px;
  padding: 1em 1.5em;

  display: flex;
  gap: 1em;
  align-items: center;
  max-width: max-content;
}

.mainWrapper[data-is_leaderboard="true"] {
  position: relative;
}

.crown {
  position: absolute;
  top: -20px;
  right: 0;
  rotate: 20deg;

  font-size: 1.75em;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;

  background-color: var(--col-acc-four);
}

.playerName {
  font-size: var(--fs-prmy);
}

.loading_name {
  width: 6rem;
  height: 15px;
  background-color: var(--col-acc-four);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  border-radius: var(--border-radius-sec);
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
