@layer components {
  /* Text field */

  .inputField_label {
    font-weight: var(--fw-tri);
    font-size: var(--fs-sm-prmy);
    display: block;
    margin-bottom: 0.5em;
  }

  .inputField_text {
    padding: 0.5em;
    font-size: var(--fs-sm-prmy);
    width: 100%;

    border: none;
    border: 2px solid var(--col-acc-four);
    border-radius: 3px;
  }

  @media (prefers-color-scheme: dark) {
    .inputField_text {
      background-color: var(--col-background-prmy);
      color: var(--col-text-prmy);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
