@layer components {
  /* Text field */
  .inputField {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
  }

  .inputField_label {
    font-weight: var(--fw-tri);
    font-size: var(--fs-sm-prmy);
    display: block;
    margin-bottom: 0.5em;
  }

  .inputField_text {
    padding: 0.5em;
    font-size: var(--fs-sm-prmy);
    width: 100%;

    border: none;
    border: 2px solid var(--col-acc-four);
    border-radius: 3px;
  }

  .guessedWord {
    padding: 1em;
    border-radius: var(--border-radius-prmy);
    background-color: var(--col-acc-four);
    font-size: var(--fs-sm-prmy);
    font-weight: var(--fw-sec);
  }

  @media (prefers-color-scheme: dark) {
    .inputField_text {
      background-color: var(--col-background-prmy);
      color: var(--col-text-prmy);
    }
  }
}
