.header {
  padding: 1em;
  margin-top: 2em;

  border-radius: var(--border-radius-prmy);
  background-color: var(--col-background-sec);
  box-shadow: var(--box-shadow);
}

.header_title {
  text-align: center;
  font-size: var(--fs-prmy);

  font-weight: var(--fw-tri);

  cursor: default;
  user-select: none;
}

.start_game_form {
  max-width: 400px;
  margin: 2em auto;

  display: flex;
  flex-direction: column;
  gap: 1.25em;
}

.startGame_btn {
  border: none;

  padding: 0.5em 2em;

  font-size: var(--fs-prmy);
  font-weight: var(--fw-sec);

  background-color: var(--col-acc-sec);
  color: var(--col-text-sec);
  border-radius: var(--border-radius-prmy);

  cursor: pointer;
  width: 90%;
  align-self: center;
}

.create_roomBtn {
  border: none;

  padding: 0.5em 1.25em;

  font-size: var(--fs-sm-prmy);
  font-weight: var(--fw-sec);

  background-color: var(--col-acc-sec);
  color: var(--col-text-sec);
  border-radius: var(--border-radius-prmy);

  cursor: pointer;
  width: 100%;

  align-self: flex-end;
}

.formSplitter {
  align-self: center;

  text-align: center;
  text-transform: capitalize;
  font-size: var(--fs-sm-prmy);
  font-weight: var(--fw-tri);

  margin-bottom: 1em;
  position: relative;

  width: 100%;
}

.formSplitter::before {
  content: "";
  display: inline-block;
  border-radius: 1px;
  height: 3px;
  width: 30%;
  background-color: var(--col-acc-four);
  position: absolute;
  left: 0;
  top: 10px;
}

.formSplitter::after {
  content: "";
  display: inline-block;
  border-radius: 1px;
  height: 3px;
  width: 30%;
  background-color: var(--col-acc-four);
  position: absolute;
  right: 0;
  top: 10px;
}
